:root {
    --main-colour:#EBFAF8;
}

#body {
    color: var(--main-colour);
}

#content {
    background-color: #181357;
    font-family: "Modelica","Source Sans Pro",sans-serif;
    font-size: 2.75em;
    font-weight: 800;
    line-height: 1.27;
    color: #fff;
    max-width: 100%;
}

h2 p {
    font-family: "Modelica", "Source Sans Pro",sans-serif;
    color: #181357;
}

.hero h1 em {
    position: relative;
    font-style: normal;
    color: #181357;
    margin: 0 .1em;
    padding: 0 .2em;
    z-index: 0;
    white-space: nowrap;
}

.hero h1 em:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);
    z-index: -1;
    background-color: #ffb502;
}

#nav.bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9994;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    background: white;
    padding: 0 2em;
    border-bottom: 1px solid #cac9d8;
    box-sizing: border-box;
}
