:root {
    --main-colour:#EBFAF8;
}

#body {
    color: var(--main-colour);
}

#content {
    background-color: #181357;
    font-family: "Modelica","Source Sans Pro",sans-serif;
    font-size: 2.75em;
    font-weight: 800;
    line-height: 1.27;
    color: #fff;
    max-width: 100%;
}
